/* CSS of the WebApp */
/* All the piechart<x> field are for the charts using google charts application */

#fundo {
  width:100%;
}

body {
  margin:0;
}

//
#piechart0 {
  display:none;
  position:fixed;
  left:75%;
  top:70%;
}

#piechart1 {
  display:none;
  position:fixed;
  left:2%;
  top:70%;
}

#piechart2 {
  display:none;
  position:fixed;
  left:39%;
  top:70%;
}

#chart {
  display:none;
  position:fixed;
  top:70%;
  width: 100%;
}
#columnchart {
  display:none;
  position:fixed;
  left:75%;
  top:5%;
}

#data {
border: 1px solid dark-grey;
padding-left: 10px;
padding-top: 10px;
background-color: #fff;
opacity: 0.8;
width:455px;
height:105px;
display:none;
position:fixed;
left:2%;
top:5%;
font-size: 20px;
font-weight: bold;
}

#content {
  padding-left: 5px;
  border-radius: 20px;
  border: 3px solid black;
  width:300px;
  height:100px;
  display:none;
  position: absolute;
  float: left;
  background-color: white;
  font-size: 30px;
}
