body{ /* Garantindo que o header não sobreponha o conteúdo da página */
  padding-top: 70px;
  margin:0;
}
.container{ /* Configuração da parte principal da página about */
  margin-top:10px;
  background-color:#003333;
  color:white;
}
legend{ /* Deixando em cor branca os títulos na pagina about */
  color:white;
}
#github{  /* Configuração do link do github */
  height:30px;
}
.navbar{ /*Configurações da navbar*/
  background-color: #DD3D40;
  border-bottom-width: 0px
}
.nav{ /*Configuração das opções dentro da navbar*/
  margin-right: 2em;
}
.navbar-nav > li > a:hover:not(.active) { /*Configurações de quando passar o mouse em cima das opções da navbar*/
  color: black !important;
}
.navbar-nav > li > a { /*Tamanho navbar*/
  padding-top:27px;
  height: 70px;
}
.ativo a { /*Configuração da opção da navbar que ficará ativa*/
  color: black !important;
}
#menu a { /*Cor das letras da navbar*/
  color: white;
}
#fundo{ /*Configuração da imagem de fundo*/
  width:100%;
}
#piechart0{  /*Configuração do gráfico inferior a direita*/
  display:none;
  position:fixed;
  left:75%;
  top:70%;
}
#piechart1{ /*Configuração do gráfico inferior a esquerda*/
  display:none;
  position:fixed;
  left:2%;
  top:70%;
}
#piechart2{ /*Configuração do gráfico inferior central*/
  display:none;
  position:fixed;
  left:39%;
  top:70%;
}
#chart{
  display:none;
  position:fixed;
  top:70%;
  width: 100%;
}
#columnchart{ /*Configuração do gráfico superior a direita*/
  display:none;
  position:fixed;
  left:75%;
  top:5%;
}
#dados{ /*Configuração da caixa de informações*/
border: 1px solid dark-grey;
padding-left: 10px;
padding-top: 10px;
background-color: #fff;
opacity: 0.8;
width:455px;
height:105px;
display:none;
position:fixed;
left:2%;
top:5%;
font-size: 20px;
font-weight: bold;
margin-top: 80px;
}
#conteudo{ /*Configuração da mensagem do cursor*/
  padding-left: 5px;
  border-radius: 20px;
  border: 3px solid black;
  width:300px;
  height:100px;
  display:none;
  position: absolute;
  float: left;
  background-color: white;
  font-size: 30px;
}
